<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
    <nav class="container">
        <ul class="nav">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/services" class="nav-link">Services</a></li>
            <li class="nav-item"><a href="/about" class="nav-link">Über uns</a></li>
            <li class="nav-item"><a href="/contact" class="nav-link">Kontakt</a></li>
        </ul>
    </nav>

    <main class="container">

        <div class="row">
            <div class="col">
                <h1 th:text="${headline}"></h1>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <form action="/vehicles/save" method="post">

                    <div class="mb3">
                        <label for="kennzeichen" class="form-label">Kennzeichen</label>
                        <input type="text" name="kennzeichen" id="kennzeichen" class="form-control">
                    </div>

                    <div class="mb3">
                        <label for="marke" class="form-label">Marke</label>
                        <input type="text" name="marke" id="marke" class="form-control">
                    </div>

                    <div class="mb3">
                        <label for="modell" class="form-label">Modell</label>
                        <input type="text" name="modell" id="modell" class="form-control">
                    </div>

                    <div class="mb3">
                        <label for="baujahr" class="form-label">Baujahr</label>
                        <input type="text" name="baujahr" id="baujahr" class="form-control">
                    </div>

                    <div class="mb3">
                        <label for="zustand" class="form-label">Zustand</label>
                        <select name="zustand" id="zustand" class="form-select">
                            <option value="NEU">neu</option>
                            <option value="REPARATUR">Reparatur</option>
                            <option value="INSPEKTION">Inspektion</option>
                            <option value="GELOESCHT">gelöscht</option>
                        </select>
                    </div>

                    <div class="mb3">
                        <button class="btn btn-success">Speichern</button>
                    </div>
                </form>
            </div>
        </div>        

    </main>

    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>