<!doctype html>
<html lang="en">
<head th:replace="~{fragments.html :: head}"></head>
<body>
    <nav th:replace="~{fragments.html :: mainNav}"></nav>

    <main class="container">

        <div class="row">
            <div class="col">
                <h1 th:text="${headline}"></h1>
            </div>
        </div>

        <div class="row">
            <div class="col-8">

                <a href="/vehicles/add" class="btn btn-success">Neues Fahrzeug</a>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Kenzeichen</th>
                            <th>Marke</th>
                            <th>Modell</th>
                            <th>Baujahr</th>
                            <th>Zustand</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="fahrzeug : ${fahrzeuge}">
                            <td th:text="${fahrzeug.kennzeichen}"></td>
                            <td th:text="${fahrzeug.marke}"></td>
                            <td th:text="${fahrzeug.modell}"></td>
                            <td th:text="${fahrzeug.baujahr}"></td>
                            <td th:text="${fahrzeug.zustand}"></td>
                            <td>
                                <a th:href="@{/vehicles/delete/{id}(id=${fahrzeug.id})}">Löschen</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>        

    </main>

    <th:block th:replace="~{fragments.html :: foot}"></th:block>
</body>
</html>